/* Custom CSS for DIYRE LibDoc
 * Add your custom styles here
 * This file loads after all core LibDoc CSS files
 */

/* Make page background white with no background image */
body {
    background-color: white !important;
    background-image: none !important;
}
main p:first-child {
    margin: 0;
    padding-top:0;
    padding-bottom:var(--ita-spacings-4);
}
main p {
    margin-top:0;
    margin-bottom:0;
    padding-top:var(--ita-spacings-3);
    padding-bottom:var(--ita-spacings-3);
}
