/* Resistor Sorting Tool */
	body{
	margin:0;
	} 
	
	#resistor-tool-wrapper {
    	max-width:600px;
      	padding:20px;
      	background-color:#e5e5e5;
    }

	/* Input Form */
	#r-value {
    	float:right;
    }
    #r-value input[type="text"] {
        padding: 10px;
        border: none;
        border-bottom: solid 3px #c9c9c9;
        -webkit-transition: border 0.3s;
        -moz-transition: border 0.3s;
        -o-transition: border 0.3s;
        transition: border 0.3s;
      	font-size:18px;
 		line-height:28px;
    }

    #r-value input[type="text"]:focus {
        border-bottom: solid 3px #969696;
    }

    #r-value label {
    	padding:10px;
      	display:inline-block;
    }
    /*End Form Description*/
    .resistor-dropdown-wrapper {
        clear:both;
      	width:100%;
      	float:left;
        margin: 20px auto 50px auto;
        
    }
	.dropdown li, ul.dropdown {
    	/* Override default li style */
      	margin:0 !important;
        padding-left: 0px;
    }

    .resistor-dropdown {
        position: relative; /* Enable absolute positionning for children and pseudo elements */
        width: 16%;
        padding: 2%;
        margin: 0 auto;
        float:left;
        background: #ddd;
        color: #fff;
        text-transform:uppercase;
        outline: none;
        cursor: pointer;
        font-weight: bold;
        
    }
	.resistor-dummy {
        position: relative; /* Enable absolute positionning for children and pseudo elements */
        width: 16%;
        padding: 2%;
        margin: 0 auto;
        float:left;
        background: #ddd;
        color: #fff;
        text-transform:uppercase;
        outline: none;
        cursor: normal;
        font-weight: bold;
    }


    .resistor-dropdown:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -6px;
        border-width: 6px 0 6px 6px;
        border-style: solid;
        border-color: transparent #fff;
    }

    .resistor-dropdown .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        list-style: none;

        /* Hiding */
        opacity: 0;
        pointer-events: none;
    }

    .resistor-dropdown .dropdown li a {
        display: block;
        text-decoration: none;
        color: #ffffff;
        padding: 10px;
        /*border-bottom:1px solid white;*/
    }


    /* Colour selector backgrounds */
    .brown {background-color:#664838}
    .red {background-color:#f44336}
    .orange {background-color:#fc8832}
    .yellow {background-color:#f6d436}
    .green {background-color:#4caf50}
    .blue {background-color:#008aba}
    .purple {background-color:#5e6cbc}
    .gray {background-color:#999999}
    .gold {

      background: -webkit-linear-gradient(left, #4c462d, #ccb266); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #4c462d, #ccb266); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, #4c462d, #ccb266); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #4c462d, #ccb266); /* Standard syntax (must be last) */
      background-color: #ccb266; /* For browsers that do not support gradients */

    }
    .silver {

      background: -webkit-linear-gradient(left,  #3c3c3c, #b9b9b9); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #3c3c3c, #b9b9b9); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, #3c3c3c, #b9b9b9); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #3c3c3c, #b9b9b9); /* Standard syntax (must be last) */
      background-color: #b9b9b9; /* For browsers that do not support gradients */
    }
    .black {background-color:black;color:white !important}
    .white {background-color:white;color:black !important}

    /* Active state */
    .resistor-dropdown.active .dropdown {
        opacity: 1;
        pointer-events: auto;
        max-height:219.5px;/* you can change as you need it */
        overflow-x:auto;/* to get scroll */
    }

    .resistor-dropdown.active:after {
        border-color: #fff transparent;
        border-width: 6px 6px 0 6px ;
        margin-top: -3px;
    }

    .resistor-dropdown.active {
      background: #ccc;
    }
	/* Resistor SVG */
	
    #resistor-svg-wrapper svg {
    	width:100%;
      	margin:0 auto;
      	clear:both;
    }
